.footer {
  justify-content: space-between;
  background-color: hsla(343, 61%, 59%);
  /* padding: 1rem 0; */
  /* padding-inline: clamp(2rem, 40vw, 10rem); */

  .info-wrapper-footer,
  .contact-wrapper-footer {
    margin: 1rem;
    box-sizing: border-box;
  }

  .info,
  .contact,
  .social {
    color: hsl(320 70% 95%);
    font-family: "League Spartan", sans-serif;
    font-size: 22px;
    font-weight: 700;

    /* specific to the 'Follow' label above the social icons at large screen sizes and up */
    @media (min-width: 1024px) {
      .follow {
        font-size: 28px;
      }
    }
  }

  .social-wrapper-footer {
    display: flex;
    flex-direction: column;
    min-width: 280px;
  }

  .footer-svg:hover {
    transform: scale(1.1);
  }

  .address,
  .email,
  .ig,
  .fb,
  .itch,
  .linked {
    color: #532d53;
    font-family: "Corbert", sans-serif;
    font-size: 18px;
    font-weight: 600;
    text-decoration: none;
  }
}
