.entire-thing-course {
  flex: 1;
}
@media (max-width: 900px) {
  .entire-thing-course {
    width: 100%;
  }
}

.course-list-grid {
  display: grid;
  gap: 20px;
  margin-top: 20px;
}

.course-list-title {
  font-size: clamp(2.5rem, 5vw, 3rem);
  font-family: "Nunito", sans-serif;
  font-weight: 800;
  color: #4b3158;
}

.course-card {
  background-color: #f4f4f4;
  border-radius: 15px;
  padding: 20px;
  position: relative;
  min-height: 120px;
}

.course-name {
  font-size: clamp(1.5rem, 3vw, 1.8rem);
  font-weight: bold;
  font-family: "Corbert", sans-serif;
  color: #4b3158;
  
}

.prereqs {
  color: #888;
  margin-top: 5px;
  margin-bottom: 15px;
  font-weight: bold;
  font-family: "Corbert", sans-serif;
}

.course-info {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  color: #4b3158;
  font-weight: bold;
  font-family: "Corbert", sans-serif;
}

.course-price {
  margin-top: 15px;
  text-align: right;
  font-size: 1.5rem;
  font-family: "Corbert", sans-serif;
  font-weight: 700;
  color: #4b3158;
}

.empty-state {
  margin-top: 20px;
  padding: 20px;
  border-radius: 15px;
  background-color: #f4f4f4;
  color: #4b3158;
  font-family: "Corbert", sans-serif;
  font-weight: bold;
}
